<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>教师管理</title>
    <link rel="stylesheet" href="layui/css/layui.css">

    <style>
        .admin-left-nav-img {
            border-radius: 0;
            width: 20px;
            height: 20px;
            padding-right: 5px
        }

        .form-item {
            width: 300px
        }

        .left {
            float: left;
            height: 100%;
            width: 500px;
            margin-right: 10px;
        }

        .right {
            overflow: auto;
            height: 100%;
        }
    </style>

</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div th:replace="manager/background::header"></div>
    <div th:replace="manager/background::left_side_bar"></div>

    <div class="layui-body">
        <div class="left">
            <form class="layui-form" id="teacher_form" method="post" style="padding-top: 15px" action=""
                  lay-filter="example">
                <p style="text-align: center; font-size:150%; margin-bottom: 10px">添加教师</p>
                <input th:id="id" type="hidden" name="id" value="0">
                <div class="layui-form-item">
                    <label class="layui-form-label">教师帐号</label>
                    <div class="layui-input-block ">
                        <input th:id="name" type="text" name="name" lay-verify="name" autocomplete="off"
                               placeholder="请输入帐号"
                               class="layui-input form-item-width">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">教师全称</label>
                    <div class="layui-input-block">
                        <input id="fullName" type="text" name="fullName" lay-verify="fullName" autocomplete="off"
                               placeholder="请输入全称"
                               class="layui-input form-item-width">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">密码</label>
                    <div class="layui-input-block">
                        <input id="password" type="text" name="password" lay-verify="password" autocomplete="off"
                               placeholder="请输入密码"
                               class="layui-input form-item-width">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">管理员</label>
                    <div class="layui-input-block">
                        <input id="manager" type="checkbox" name="manager" th:value="true"
                               lay-verify="manager"
                               title="是否为管理员">
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button type="submit" id="teacher_submit" class="layui-btn" lay-submit=""
                                lay-filter="submit_button">提交</button>
                        <button type="reset" id="message_reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="right">
            <table class="layui-hide" id="test" lay-filter="test"></table>

            <script type="text/html" id="toolbarDemo">
                <div class="layui-btn-container">
                    <button class="layui-btn layui-btn-sm" lay-event="deleteCheckData">删除选中数据</button>
                </div>
            </script>

            <script type="text/html" id="operationCell">
                <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
            </script>
        </div>
    </div>

    <div th:replace="manager/background::footer"></div>
</div>
<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="/layui/layui.all.js"></script>
<script>
    layui.use('table', function () {
        var table = layui.table;
        table.render({
            elem: '#test'
            , url: '/adminTeacherList'
            , limit: [[${pageSize}]]
            , toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板

            , defaultToolbar: ['filter', 'exports', 'print']
            , title: '教师管理表'
            , cols: [
                [
                    {type: 'checkbox', fixed: 'left', align: "center"}
                    , {field: 'name', title: '用户名', align: "center"}
                    , {field: 'fullName', title: '全名', align: "center"}
                    , {field: 'manager', title: '是否为管理员', align: "center"}
                    , {fixed: 'right', title: '操作', toolbar: '#operationCell', align: "center"}
                ]
            ]
            , page: { //支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
                layout: ['prev', 'page', 'next', 'skip', 'count']
            }
        });

        //头工具栏事件
        table.on('toolbar(test)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            switch (obj.event) {
                case 'deleteCheckData':
                    var data = checkStatus.data;
                    layer.confirm('确定要删除选中数据吗？', function (index) {
                        data.forEach(function (item) {
                            $.ajax({
                                url: "/adminDeleteTeacher",
                                data: {
                                    id: item.id//参数
                                },
                                async: false,
                                type: "POST",
                                success: function (re) {
                                    console.log(re);
                                }
                            });
                        });
                        table.reload('test');
                        layer.close(index);
                    });
                    break;
            }
        });

        //监听行工具事件
        table.on('tool(test)', function (obj) {
            var data = obj.data;
            //console.log(obj)
            if (obj.event === 'del') {
                layer.confirm('确定要删除教师' + data.fullName + '？', function (index) {
                    $.ajax({
                        url: "/adminDeleteTeacher",
                        data: {
                            id: data.id//参数
                        },
                        type: "POST",
                        success: function (re) {
                            console.log(re);
                        }
                    });
                    obj.del();
                    layer.close(index);
                });
            } else if (obj.event === 'edit') {
                var resetBtn = $("#message_reset");
                $("#teacher_submit").text("更新");
                resetBtn.text("取消");
                resetBtn.click(function(){
                    $("#teacher_submit").text("提交");
                    $('#manager').attr("checked", false);
                });
                $("#id").val(data.id);
                $("#name").val(data.name);
                $("#fullName").val(data.fullName);
                $('#manager').attr("checked", data.manager); //注意这里使用的是attr()
                layui.form.render(); //重新渲染显示效果
            }
        });

    });

    layui.use(['form'], function () {
        var form = layui.form;
        //自定义验证规则
        form.verify({
            // name: function (value) {
            //     if (value.length < 5) {
            //         return '帐号至少得5个字符';
            //     }
            // }
            // , password: [
            //     /^[\S]{6,12}$/
            //     , '密码必须6到12位，且不能出现空格'
            // ],
        });

        form.on('submit(submit_button)', function (data) {
            var teacherSubmitBtn = $("#teacher_submit")
            if (teacherSubmitBtn.text() === '提交') {
                // layer.msg(JSON.stringify(data.field));
                $.ajax({
                    url: "/adminInsertTeacher",
                    async: false,
                    type: "POST",
                    dataType: "text",
                    data: data.field
                });
            } else if (teacherSubmitBtn.text() === '更新') {
                // layer.msg(JSON.stringify(data.field));
                $.ajax({
                    url: "/updateTeacher",
                    async: false,
                    type: "POST",
                    dataType: "text",
                    data: data.field
                });
                $("#teacher_submit").text("提交");
            }
            return true;
        });
    });
</script>
</body>
</html>