<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>修改信息</title>
    <link rel="stylesheet" href="layui/css/layui.css">

    <style>
        body {
            background-color: #f2f2f2;
        }
        .hide-element{
            visibility: hidden;
        }
        .admin-left-nav-img {
            border-radius: 0;
            width: 20px;
            height: 20px;
            padding-right: 5px
        }

        .form-item {
            width: 300px
        }

        .left {
            float: left;
            height: 100%;
            width: 500px;
            margin-right: 10px;
        }

        .right {
            font-size: 140%;
            overflow: auto;
            height: 100%;
        }

    </style>

</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div th:replace="manager/background::header"></div>
    <div th:replace="manager/background::left_side_bar"></div>

    <div class="layui-body">
        <div class="left">
            <form class="layui-form" id="admin_form" method="post" style="padding-top: 15px" lay-filter="example">
                <p style="text-align: center; font-size:150%; margin-bottom: 10px; width: 450px">管理员信息</p>
                <input th:id="id" type="hidden" name="id" th:value="${admin.getId()}">
                <div class="layui-form-item">
                    <label class="layui-form-label">管理员帐号</label>
                    <div class="layui-input-block ">
                        <input th:id="name" type="text" name="name" lay-verify="name" autocomplete="off"
                               th:value="${admin.getName()}"
                               placeholder="请输入帐号"
                               class="layui-input form-item">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">密码</label>
                    <div class="layui-input-block">
                        <input id="password" type="password" name="password" lay-verify="password" autocomplete="off"
                               placeholder="请输入密码"
                               class="layui-input form-item">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">确认密码</label>
                    <div class="layui-input-block">
                        <input id="repeat_password" type="password" name="repeat_password" lay-verify="repeat_password"
                               autocomplete="off"
                               placeholder="请输入密码"
                               class="layui-input form-item">
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button type="submit" id="teacher_submit" class="layui-btn" lay-submit=""
                                lay-filter="submit_button">修改
                        </button>
                    </div>
                </div>
            </form>

            <fieldset class="layui-elem-field" th:class="${session.admin.name == 'admin' && session.admin.password == 'admin'? 'layui-elem-field' : 'layui-elem-field hide-element'}"
                      style="background-color: white; margin-left: 20px;margin-right: 20px">
                <legend><span style="color: red">注意</span></legend>
                <div class="layui-field-box" style="color: red">
                    当前管理员帐号为默认帐号，请抓紧修改密码
                </div>
            </fieldset>
        </div>

        <div class="right" style="margin-top: 15px">
            <p style="text-align: center; margin-bottom: 10px; width: 90%">操作指南</p>
            <div class="layui-card" style="width: 90%">
                <div class="layui-card-header">教师管理</div>
                <div class="layui-card-body">
                    <ul>
                        <li>1.可以对教师用户进行增删改查操作</li>
                        <li>2.可以指定特定教师作为系统管理员</li>
                    </ul>
                </div>
            </div>
            <div class="layui-card" style="width: 90%">
                <div class="layui-card-header">考试清理</div>
                <div class="layui-card-body">
                    <ul>
                        <li>1.数据库中的学生信息</li>
                        <li>2.登录ip地址绑定信息</li>
                        <li>3.提交信息</li>
                        <li>4.文件系统中的提交文件等</li>
                    </ul>
                </div>
            </div>
            <div class="layui-card" style="width: 90%">
                <div class="layui-card-header">系统配置</div>
                <div class="layui-card-body">
                    <ul>
                        <li>1.后台任务的时间周期</li>
                        <li>2.分页查询时的每页记录数</li>
                        <li>3.手动开启考试的时间阈值</li>
                        <li>4.学生上传文件字节数的有效范围</li>
                        <li>5.可以指定是否允许主考教师清理和删除考试</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="manager/background::footer"></div>
</div>
<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="/layui/layui.all.js"></script>
<script>
    layui.use(['form'], function () {
        var form = layui.form;
        //监听提交
        form.on('submit(submit_button)', function (data) {
            layer.confirm('确定要更新信息吗？', function (index) {
                $.ajax({
                    url: "/updateAdmin",
                    async: false,
                    type: "POST",
                    dataType: "text",
                    data: data.field,
                    success() {
                        $("#admin_form").submit()
                        layer.msg("修改成功")
                    }
                });
                layer.close(index);
            });
            return false;
        });
        form.verify({
            name: function (value) {
                if (value.length < 5) {
                    return '帐号至少得5个字符';
                }
            },
            // password: [
            //     /^[\S]{6,12}$/
            //     , '密码必须6到12位，且不能出现空格'
            // ],
            repeat_password: function (value) {
                var rePas = $("#password").val();
                if (value !== rePas)
                    return '两次输入的密码不一致!';
            }
        });
    });
</script>
</body>
</html>