<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>学生主页</title>
    <link rel="stylesheet" href="layui/css/layui.css">

    <style type="text/css">
        html, body {
            height: auto;
        }

        .content {
            height: 100%;
            width: 70%;
            margin: auto;
        }

        .left {
            float: left;
            height: 95%;
            width: 500px;
            margin-right: 10px;
        }

        .right {
            overflow: auto;
            height: 95%;
        }

    </style>
</head>
<body>
<div th:replace="student/framework::header"></div>
<div class="content">
    <blockquote class="layui-elem-quote" style="margin-top: 20px;font-size: 150%; height: 40px; line-height: 40px">
        <img alt="考试进行中" src="images/student/process.png" class="layui-nav-img">
        <span th:text="${exam.getName()}"></span>考试，正在进行中
    </blockquote>
    <div class="left">
        <div>
            <h1>试卷下载</h1>
            <a th:href="@{/studentDownloadExamPaper}" class="layui-btn layui-btn-normal"
               style="margin-top: 10px;width: 120px">下载</a>
        </div>
        <div style="margin-top: 20px">
            <h1>通知消息</h1>
            <table class="layui-hide" id="studentTable" lay-filter="studentTable"></table>
            <script type="text/html" id="timeCell">
                <span style="color: red;">{{ d.time }}</span>
            </script>  <script type="text/html" id="contentCell">
            <span style="color: red;">{{ d.content }}</span>
        </script>
        </div>
    </div>

    <div class="right">
        <h1>答案上传</h1>
        <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px">
            请按照考试要求将答案文件打包，再进行上传。同名文件多次上传将会覆盖。
        </blockquote>
        <div class="layui-upload">
            <button type="button" class="layui-btn layui-btn-normal" id="selectAnswer">选择文件</button>
            <button type="button" class="layui-btn" id="uploadFile">开始上传</button>
        </div>
    </div>
</div>

<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="/layui/layui.all.js"></script>
<script>

    function refreshMessage() {
        layui.use('table', function () {
            var table = layui.table;
            $.ajax({
                url: "/refreshMessage",
                async: false,
                type: "POST",
                dataType: "text",
                data:{
                    examId:[[${exam.id}]]
                },
                success(data) {
                    if (data === 'refresh') {
                        table.render({
                            elem: '#studentTable'
                            , url: '/messageList?examId=[[${exam.id}]]'
                            , title: '提交信息表'
                            , cols: [
                                [
                                    {field: 'time', title: '时间', align: "center", width: 170, templet: "#timeCell"}
                                    , {field: 'content', title: '内容', align: "left", templet: "#contentCell"}
                                ]
                            ]
                        });
                    }
                }
            });
        });
        setTimeout("refreshMessage()", 1000)
    }

    refreshMessage();

    layui.use(['upload', 'table'], function () {
        var upload = layui.upload;
        var table = layui.table;

        upload.render({
            elem: '#selectAnswer'
            , url: 'studentUploadAnswerFile'
            , auto: false
            , accept: 'file'
            //,multiple: true
            , bindAction: '#uploadFile'
            , done: function (res) {
                location.href = "/studentSubmitListPage";
                console.log(res)
            }
        });
        table.render({
            elem: '#studentTable'
            , url: '/messageList?examId=[[${exam.id}]]'
            , title: '提交信息表'
            , cols: [
                [
                    {field: 'time', title: '时间', align: "center", width: 170, templet: "#timeCell"}
                    , {field: 'content', title: '内容', align: "left", templet: "#contentCell"}
                ]
            ]
        });

    });
</script>
</body>
</html>