<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="layui/css/layui.css">
</head>
<body>
<div class="layui-header" th:fragment="header">
<ul class="layui-nav layui-bg-blue">
    <li style="position:relative;display:inline-block;*display:inline;
        *zoom:1;vertical-align:middle;line-height:60px;margin-right: 40px;margin-left: 150px">
    <img alt="图标" src="images/examIcon.png" class="layui-nav-img">
    上机考试系统
    </li>
    <li class="layui-nav-item layui-this"><a href="" th:href="@{/teacherMainPage}">首页</a></li>
    <li class="layui-nav-item"><a href="">考前操作</a></li>
    <li class="layui-nav-item"><a href="">考中操作</a></li>
    <li class="layui-nav-item"><a href="">考后操作</a></li>
</ul>
<ul class="layui-nav layui-layout-right layui-bg-blue">
    <li class="layui-nav-item" lay-unselect="">
        <a href="javascript:;">
            <img alt="头像" src="images/admin/avatar.png" class="layui-nav-img">
            <span th:text="${session.teacher.name}"></span>
            <span class="layui-nav-more"></span>
        </a>
        <dl class="layui-nav-child  layui-anim layui-anim-upbit">
            <dd><a href="javascript:;" th:href="@{/adminInfoPage}">修改信息</a></dd>
        </dl>
    </li>
    <li class="layui-nav-item">
        <a href="javascript:;" th:href="@{/adminLogout}">注销</a>
    </li>
</ul>
</div>
<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="/layui/layui.all.js"></script>
</body>
</html>