<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>添加学生信息</title>
    <link rel="stylesheet" href="layui/css/layui.css">
    <style type="text/css">
        html, body {
            background-color: white;
            height: auto;
        }

        .content {
            height: 100%;
            width: 70%;
            margin: auto;
        }

        .content-block {
            margin-bottom: 10px;
            background-color: #f2f2f2;
            height: auto;
            padding: 10px 0 10px 20px;
            border-radius: 10px
        }

        .hide-element {
            display: none;
        }

        h2 {
            margin-bottom: 10px
        }

    </style>
</head>
<body>
<div th:replace="teacher/framework::header"></div>

<div class="content" style="display: flex; flex-flow: column;">
    <div style="height: 100px;display: flex; align-items: center">
        <h1>
            <img alt="图标" src="images/teacher/导入.svg" height="50px">
            导入学生信息</h1>
    </div>
    <div class="content-block">
        <span>完成学生名单的导入和修改后 </span>
         <a type="button" class="layui-btn layui-btn-warm"  th:href="@{/teacherModifyExamInfoPage(id=${examId})}" >
            返回编辑
        </a>
    </div>
    <div class="content-block">
        <h2>添加单个学生</h2>
        <form class="layui-form" id="exam_form" method="post">
            <div style="display: flex;justify-content: start;align-items: center;margin-bottom: 10px">
                <!--                <input type="hidden" name="examId" th:value="${examId}">-->
                <input type="text" name="id" id="id" autocomplete="off" placeholder="学号" lay-verify="required"
                       class="layui-input" style="width: 200px;margin-right: 5px;">
                <input type="text" name="name" class="layui-input" id="name" autocomplete="off" lay-verify="required"
                       placeholder="姓名"
                       style="width: 200px;margin-right: 5px;">
                <input type="text" name="sClass" class="layui-input" id="sClass" autocomplete="off"
                       lay-verify="required" placeholder="班级"
                       style="width: 200px;margin-right: 5px;">
                <button type="submit" class="layui-btn" lay-submit=""
                        lay-filter="submit_button">
                    添加
                </button>
            </div>

        </form>
    </div>
    <div class="content-block">
        <h2>批量导入</h2>
        <div class="layui-upload">
            <button type="button" class="layui-btn layui-btn-normal" id="selectFile">浏览</button>
            <button type="button" class="layui-btn" id="uploadFile">导入</button>
        </div>
    </div>
    <div>
        <script type="text/html" id="operationCell">
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
        </script>
        <table class="layui-hide" id="studentTable" lay-filter="studentTable"></table>
    </div>
</div>

<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="/layui/layui.all.js"></script>
<script>
    layui.use(['form', 'upload', 'table'], function () {
        var form = layui.form;
        var laydate = layui.laydate;
        form.on('submit(submit_button)', function (data) {
            $.ajax({
                url: "/insertStudent?examId=[[${examId}]]",
                async: false,
                type: "POST",
                dataType: "text",
                data: data.field,
                success() {
                    location.reload();
                }
            });
            return false;
        });

        var upload = layui.upload;
        upload.render({
            elem: '#selectFile'
            , url: 'uploadStudentByExcel?examId=[[${examId}]]'
            , auto: false
            , accept: 'file'
            , exts: 'xls|xlsx'
            //,multiple: true
            , bindAction: '#uploadFile'
            , done: function (res) {

                location.reload();
            }
        });

        var table = layui.table;
        table.render({
            elem: '#studentTable'
            , url: '/teacherStudentList?examId=[[${examId}]]'
            , limit: [[${pageSize}]]
            , title: '提交信息表'
            , cols: [
                [
                    {field: 'id', title: '学号', align: "center"}
                    , {field: 'name', title: '姓名', align: "center"}
                    , {field: 'sClass', title: '班级', align: "center"}
                    , {fixed: 'right', title: '操作', toolbar: '#operationCell', align: "center"}
                ]
            ]
            , page: { //支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
                layout: ['prev', 'page', 'next', 'skip', 'count']
            }
        });
        //监听行工具事件
        table.on('tool(studentTable)', function (obj) {
            var data = obj.data;
            //console.log(obj)
            if (obj.event === 'del') {
                layer.confirm('确定要删除学生' + data.name + '的信息？', function (index) {
                    $.ajax({
                        url: "deleteStudent",
                        data: {
                            examId: [[${examId}]],
                            id: data.id//参数
                        },
                        type: "POST",
                        success: function (re) {
                            console.log(re);
                        }
                    });
                    obj.del();
                    layer.close(index);
                });
            }
        });
    });
</script>
</body>
</html>