<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>修改考试信息</title>
    <link rel="stylesheet" href="layui/css/layui.css">
    <style type="text/css">
        html, body {
            background-color: white;
            height: auto;
        }

        .content {
            height: 100%;
            width: 70%;
            margin: auto;
        }

        .content-block {
            background-color: #f2f2f2;
            height: auto;
            padding: 10px 0 10px 20px;
            border-radius: 10px;
            margin-bottom: 10px;
        }

        .hide-element {
            display: none;
        }

        h2 {
            margin-bottom: 10px
        }

    </style>
</head>
<body>
<div th:replace="teacher/framework::header"></div>

<div class="content" style="display: flex; flex-flow: column;">
    <div style="height: 100px;display: flex; align-items: center">
        <h1>
            <img alt="图标" src="images/teacher/考试.png" height="50px">
            考试管理</h1>
    </div>
    <div class="content-block">
        <h2>编辑考试信息</h2>
        <form class="layui-form" id="exam_form" method="post">
            <input type="hidden" name="id" th:value="${exam.id}">
            <div style="display: flex;justify-content: start;align-items: center;margin-bottom: 10px">
                <label for="name" style="margin-right: 5px">考试名称:</label>
                <input type="text" name="name" lay-verify="title" id="name" autocomplete="off" placeholder="考试名称"
                       th:value="${exam.name}"
                       class="layui-input" style="width: 200px;margin-right: 5px;">
                <label for="startTime" style="margin-right: 5px">考试时间:</label>
                <input type="text" name="startTime" class="layui-input" id="startTime" placeholder="考试时间"
                       th:value="${exam.startTime}"
                       style="width: 200px;margin-right: 5px;">
            </div>
            <label for="autoStart" style="margin-right: 5px">自动开始:</label>
            <input type="checkbox" id="autoStart" name="autoStart" title="是" th:checked="${exam.autoStart}">
            <br>
            <button style="margin-top: 10px" type="submit" class="layui-btn" lay-submit="" lay-filter="submit_button">
                修改
            </button>
        </form>
    </div>
    <div class="content-block">
        <div style="display: flex;justify-content: space-between;margin-right: 20px">
            <h2>
                上传试卷
            </h2>
            <img src="images/teacher/已上传.svg" height="30px"
                 th:style="${exam.uploadExamPaper?'':'visibility:hidden;'}"
                 alt="已上传">
        </div>
        <div style="background-color: #333333;color: white;border-radius: 10px; margin: 0 20px 20px 0; padding: 20px 20px 20px 20px">
            <div th:if="${exam.uploadExamPaper}">
                试卷(<a style="color: green;font-size: 110%" th:href="@{'/downloadExamPaper?id='+${id}}">[[${exam.paperName}]]</a>)上传成功，点击更新即可替换文件
            </div>
            <div th:if="${exam.uploadExamPaper} == false">
                还未上传试卷
            </div>
        </div>
        <div class="layui-upload">
            <button type="button" class="layui-btn layui-btn-normal" id="selectPaper">选择文件</button>
            <button type="button" class="layui-btn" id="uploadFile">[[${exam.uploadExamPaper?'更新':'开始上传'}]]</button>
        </div>

    </div>
    <div class="content-block">
        <h2>导入学生名单</h2>
        <span style="margin-top: 10px">目前设定参加此次考试的学生人数：[[${studentCount}]]</span>
        <div style="margin-top: 10px">
            <a class="layui-btn layui-btn-normal" th:href="@{'/teacherAddStudentsPage?examId='+${id}}">继续上传</a>
        </div>
    </div>
    <div class="content-block">
        <h2>开启考试</h2>
        <div th:style="${exam.uploadExamPaper ? 'display:none;' : 'display: flex;align-items:center;margin-bottom: 10px'}">
            <img alt="图标" src="images/student/warn.png" height="35px">
            <span th:text="请先上传试卷"></span>
        </div>
        <div th:style="${canStart ? 'display:none;' : 'display: flex;align-items:center;margin-bottom: 10px'}">
            <img alt="图标" src="images/student/warn.png" height="35px">
            <span th:text="未到指定时间无法开启考试"></span>
        </div>
        <div th:style="${studentCount != 0 ? 'display:none;' : 'display: flex;align-items:center;margin-bottom: 10px'}">
            <img alt="图标" src="images/student/warn.png" height="35px">
            <span th:text="未上传考生信息无法开启考试"></span>
        </div>
        <a class="layui-btn layui-btn-normal" onclick="startExam()">开启考试</a>
    </div>
</div>
<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="/layui/layui.all.js"></script>
<script>
    function startExam() {
        if (![[${canStart}]] || ![[${exam.uploadExamPaper}]] || [[${studentCount == 0}]]) {
            layer.msg("无法开启考试");
            return
        }
        $.ajax({
            url: "/startExam",
            async: false,
            type: "POST",
            dataType: "text",
            data: {
                examId: [[${id}]]
            },
            success(data) {
                location.href = "/teacherExamBeforePage"
            }
        });
    }

    layui.use(['form', 'upload', 'laydate'], function () {
        var form = layui.form;
        var laydate = layui.laydate;
        form.on('submit(submit_button)', function (data) {
            layer.confirm('确定要更改考试信息？', function (index) {
                $.ajax({
                    url: "/updateExam",
                    async: false,
                    type: "POST",
                    dataType: "text",
                    data: data.field,
                    success() {
                        location.reload();
                    }
                });
                layer.close(index);
            });
            return false;
        });

        var upload = layui.upload;
        upload.render({
            elem: '#selectPaper'
            , url: 'uploadExamPaper?id=[[${id}]]'
            , auto: false
            , accept: 'file'
            //,multiple: true
            , bindAction: '#uploadFile'
            , done: function (res) {
                location.reload();
                console.log(res)
            }
        });

        //日期时间选择器
        laydate.render({
            elem: '#startTime'
            , type: 'datetime'
        });

    });
</script>
</body>
</html>